<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NBP App</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
<div class="container">
    <nav>
        <a href="/currencies/">Currencies</a>
        <a href="/gold/">Gold</a>
        <a href="/calculator/">Calculator</a>
        <a href="/charts/">Charts</a>
    </nav>
    <h1>NBP</h1>
    <h2>Displays information about a given currency - usd, chf, gbp, eur, jpy, cny</h2>
    <p>URL format for currencies: http://127.0.0.1:5000/api/exchangerates/rates/a/currency_name/</p>
    <p>URL format for gold prices: http://127.0.0.1:5000/api/cenyzlota/</p>
    {% block body %}{% endblock %}
    <br>
    <img src="{{ url_for('static', filename='nbp_logo.jpg') }}" style="width:500px">
</div>
</body>
</html>
