<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Course chart</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/charts.css') }}">
    <script src="{{ url_for('static', filename='js/back_script.js') }}"></script>
</head>
<body>
    <button id="backButton" data-href-template="{{ url_for('about') }}">Back</button>
    <script>
        back();
    </script>
    <br>
    <form method="POST">
        <select name="code">
            {% for currency in currencies %}
                <option value="{{ currency.code }}">{{ currency.code }} - {{ currency.name }}</option>
            {% endfor %}
        </select>
        <button type="submit">Submit</button>
    </form>
    <h1 style="text-align: center">Course chart from last 30 days</h1>
    {% if graph_html %}
        {{ graph_html|safe }}
    {% else %}
        <p style="text-align: center">Please choose currency from list to generate chart.</p>
    {% endif %}
</body>
</html>
</html>
