<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Currencies Table</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/currencies.css') }}">
    <script src="{{ url_for('static', filename='js/back_script.js') }}"></script>
</head>
<button id="backButton" data-href-template="{{ url_for('about') }}">Back</button>
    <script>
        back();
    </script>
<body class="currencies-table">
    <h1 style="text-align: center">Currencies</h1>
    {% if currencies|length < 1 %}
    <h4>There is nothing in table. Please add a currency by using submit button below!</h4>
    {% else %}
    <table>
        <tr>
            <th>Currency</th>
            <th>Code</th>
            <th>Date</th>
            <th>Rate (to PLN)</th>
        </tr>
        {% for currency in currencies %}
        <tr>
            <td>{{ currency.name }}</td>
            <td>{{ currency.code }}</td>
            <td>{{ currency.date }}</td>
            <td>{{ currency.rate }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</body>
</html>