{% extends 'base.html' %}

{% block head %}
<h1>Currencies Table</h1>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Currencies</h1>
    {% if currencies|length < 1 %}
    <h4>There is nothing in table. Please add a currency by using submit button below!</h4>
    {% else %}
    <table>
        <tr>
            <th>Currency</th>
            <th>Date</th>
            <th>Rate</th>
            <th>Actions</th>
        </tr>
        {% for currency in currencies %}
        <tr>
            <td>{{ currency.name }}</td>
            <td>{{ currency.date }}</td>
            <td>{{ currency.rate }}</td>
            <td>
                <a href="/delete/{{ currency.id }}">Delete</a>
                <br>
                <a href="/update/{{ currency.id }}">Update</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <form action="/" method="POST">
        <input type="text" name="content" id="content">
        <button type="submit">Add Currency</button>
    </form>
</div>
{% endblock %}
