<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NBP API</title>
</head>
<body>
    <nav>
        <a href="/about/">About</a>
        <a href="/currencies/">Currencies</a>
        <a href="/gold/">Gold</a>
    </nav>
    <h1>NBP</h1>
    <h2>Displays information about a given currency - usd, chf, gbp, eur, jpy, cny</h2>
    <p>URL format: http://127.0.0.1:5000/api/exchangerates/rates/a/currency_name/</p>
    <img src="{{ url_for('static', filename='nbp_logo.jpg') }}" style="width:500px">
</body>
</html>